extends layout

block content
	.container
		h1 #{title} - Tree
		.hidden#infopath #{title}
		svg(width="#{width}", height="#{height}")
		script(src='/javascripts/cluster_dendrogram.js')

block append head
	link(rel='stylesheet', href='/stylesheets/cluster_dendrogram.css')
