extends layout

block content
	.container
		h1 #{title}
		hidden(class='wordlist') #{data}
		svg(width="1060", height="1500")
		script(src='/javascripts/cluster_dendrogram.js')

block append head
	link(rel='stylesheet', href='/stylesheets/cluster_dendrogram.css')
